{% extends 'base.html.twig' %}
{% block title %}home{% endblock %}
{% block body %}
    <div class="signBoard" style="margin-left: 40%;">
    <a href="{{ path('login') }}"><button>Вход</button></a>
    <a href="{{ path('register') }}"><button>Регистрация</button></a>
    </div>
{% endblock %}