{% extends 'base.html.twig' %}

{% block body %}
 <a style="margin-left: 90%" class="text-muted" href="{{ path('logout') }}"><button>Выйти</button></a></br>
 {% if app.user %}Вы успешно Автаризованы{% endif %}

{% endblock %}

{% block title %}

{% endblock %}

